.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}
h1 {
  @include text(2.5rem, 700, $red);
}
h2 {
  @include text(2rem, 700, $red);
}
p {
  @include text(1.4rem, 700, $grey);
}